#!/usr/bin/env bash
#====================================================================
# BASH "Secrets" File (Passwords, Paths, and other 'private' stuff)
#
# Basically... anything that should NOT be under version control
# and up on GitHub should be put in this file.
#
# DO NOT `export` anything! Just set variables like `foo=bar`
#====================================================================

# Work Active Directory (LDAP Search)
WORK_AD_HOST=""
WORK_AD_BASE=""
WORK_AD_USER=""
WORK_AD_PASS=""

# IDM Prod (LDAP Search)
WORK_IDM_HOST=""
WORK_IDM_BASE=""
WORK_IDM_MAIL_BASE=""
WORK_IDM_USER=""
WORK_IDM_PASS=""

# AIX LDAP (LDAP Search)
WORK_AIX_HOST=""
WORK_AIX_BASE=""
WORK_AIX_USER=""
WORK_AIX_PASS=""

# Sun LDAP (LDAP Search)
WORK_SUN_HOST=""
WORK_SUN_BASE=""
WORK_SUN_USER=""
WORK_SUN_PASS=""

# Twitch OAuth token for livestreamer
TWITCH_TOKEN=""
